# Name: CytodexDSred
# Author: phm
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>CIRB>Germain>CytoDex, "Cytodex Fluo3D", CytoDex.Cytodex_Fluo3D
Plugins>CIRB>Germain>CytoDex, "Remove Cytodex", CytoDex.Remove_Cytodex
Plugins>CIRB>Germain>CytoDex, "CytodexDSRed Fluo3D", CytoDex.CytodexDSred_Fluo3D
Plugins>CIRB>Germain>CytoDex, "CytodexDSRedLite Fluo3D", CytoDex.CytodexDSred_Fluo3D_Lite
Plugins>CIRB>Germain>CytoDex, "Cytodex Actin Fluo3D", CytoDex.Cytodex_Fluo3D_Lite